extends ../layout

block content
  div(class='content')
    h1= title
    nav
      ul
        li
          a(href='/admin/news/add') Add news
    table
      tr
        th id
        th title
        th created
        th action
      each item, index in data
        tr
          td=index
          td=item.title
          td=item.created
          td 
            a(href=`/admin/news/delete/${item._id}`) Remove
