extends layout

block content
  h1= title
  form(method='get')
    input(type='text' value=search name='search')
    button(type='submit') search

  each item in data
    article
      h1(class='title-news')=item.title
      p(class='date')=item.created
      p=item.description
